.env
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/

secrets.py
secret.py

# DB is too big to push to github so just going to ignore it
db.sqlite